<div class="container my-5">

    <p>dashboard works!</p>

    <div *ngIf="user">
        User {{ user.email }} is logged in.
    </div>

    <ul>
        <li *ngFor="let message of messages$ | async">
          {{ message.text }}
        </li>
      </ul>

    <form [formGroup]="createMessageForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="exampleInputMessage1" class="form-label">Message</label>
            <input type="text" class="form-control" id="exampleMessage1" aria-describedby="messageHelp"
                formControlName="message">
            <div id="messageHelp" class="form-text">Enter message here.</div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>